.input-base {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: start;
    color: white;
    input {  
        height: 40px;
        width: 100%;
        padding: 0 15px;
        border: 1px solid #6B4522;
        border-radius: 10px;
        font-size: 16px;
    }
}