.content_products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 50%;
    margin-top: 90px;
}

.title_products {
    text-align: center;
}

.title_products h2 {
    color: #6B4522;
    margin-bottom: 0;
    font-size: 25px;
}

.title_products p {
    font-weight: 400;
    color: rgb(71, 70, 70);
    font-size: 20px;
    margin-top: 0;
}

.search_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.busquedaProductos {
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid #6B4522;
}
